/MockitoDemo/.nb-gradle/
/MockitoDemo/build/
/MatkakorttiMockito/.nb-gradle/
/MatkakorttiMockito/build/
/VerkkokauppaSpring/build/
/VerkkokauppaSpring/.nb-gradle/
/IntJoukkoSovellus/.nb-gradle/
/IntJoukkoSovellus/build/